# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
*.tar.gz

.cache/
*.log
raftscope_15min_script.html
raftscope_presentation_prep.html
Revised proposal.pdf
raftscope_slides.html
clow_jiang.pdf
report.tex
